html{
    background-color: rgba(0, 0, 0, 0.753);
}
.center{
    width: 100%;
    max-width: 800px;
    height: 40em;
    position: relative;
    margin: 0 auto;
    margin-top: -5px;
    background-color: rgb(234, 252, 231);
    border: 1px solid #4CAF50;
}
.inbox{
    left: 0;
    background-color: rgb(250, 248, 248);
    height: 40em;
    width: 40%;
    float: left;
    border-right: 1px solid #01110165;
}
.inbox-head{
    width: 100%;
    background-color:rgb(160, 245, 145);
}
.search{
    width: 75%;
    height: 30px;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.76);
    margin: 2%;
}
#l1{
    font-size: 30px;
    font-weight: lighter;
    font-family: "Roboto", sans-serif;
    color: rgba(0, 0, 0, 0.863);
    margin-left: 10px;
}
#l2{
    font-size: 25px;
    margin-left: 10px;
    font-weight: lighter;
    font-family: "Roboto", sans-serif;
    color: rgba(0, 0, 0, 0.671);
}
.logout{
    float: right;
    margin-right: 5%;
}
.in_list{
    overflow-y: scroll;
    max-height: 80%;
}
.inbox_messsage{
    padding:10px;
    cursor: pointer;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #effcf0;;
}
.inbox_messsage:hover{
    background-color: rgb(230, 230, 230);
}
.inbox_messsage .message_name{
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.747);
    font-family: "Roboto", sans-serif;
    padding: 5px;
}
.inbox_messsage {
    cursor: pointer;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.747);
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    padding: 5px;
    margin-top: 15px;
}
.chatbox{
    right: 0;
    width: 59.5%;
    height: 36em;
    float: left;
    background-color: rgba(169, 228, 169, 0.836);
}
.convo_name{
    width: 100%;
    height: 4em;
    background-color: rgb(160, 245, 145);
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.678);
}
.convo_name label:first-of-type{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
}
.convo{
    height: 31em;
    overflow-y: scroll;
}
.chatbox table {
    width: 100%;
    table-layout: fixed;
}
.chatbox .tr{
    max-height: 100px;
}

.type-div{
    float: left;
    background-color: rgb(230, 230, 230);
    position:absolute;
    bottom:0;
    width: 47%;
    padding-right: 1%;
}
.type{
    resize: none;
    border-radius: 15px;
    padding: 5px;
    font-family: "Roboto", sans-serif;    
    width: 95%;   
    font-size: 15px;
    margin: 10px; 
    outline: none;       
}
.type::-webkit-scrollbar { width: 0 !important }
.receive_message{
    float: left;
    max-width: 60%;
    background-color: white;
    border-radius: 5px;
    margin-left: 10px;
    padding-left:10px;
    padding-right: 10px;
    padding-bottom: 0px;
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    font-size: 15px;
    white-space:pre-wrap;
}
.send_message{
    float: right;
    max-width: 60%;
    word-wrap: break-word;
    background-color: rgba(112, 245, 112, 0.836);
    border-radius: 5px;
    margin-right: 10px;
    padding-left:10px;
    padding-right: 10px;
    padding-bottom: 0px;
    font-family: "Roboto", sans-serif;
    margin-top: 10px;
    font-size: 15px;
    white-space:pre-wrap;
}
.show_time{
    font-size: 13px;
    float: right;
    color: gray;
}
.send-div{
    float: right;
    background-color: rgb(230, 230, 230);
    border-right: 1px solid #01110165;
    position:absolute;
    bottom:0;
    height: 11%;
    width: 12%;
    margin-left: 48%;
}
.send-msg{
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: lighter;
    padding: 5px;
    margin-left: 20%;
    margin-top: 15px;
    background-color: rgba(112, 245, 112, 0.836);
    outline: none;
    border: 1px solid #6bd46f9a;
    border-radius: 5px;
}
.send-msg:active{
    background-color: rgba(89, 247, 89, 0.466);
}
 